*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 13px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: hsl(210, 46%, 95%);
}

.container {
  width: 95%;
  margin: 0 auto;
}

.card {
  background-color: green;
  padding: 30px 30px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0.5px hsl(210, 46%, 95%);
}

.card .profile .profile-name {
  font-size: 1rem;
  opacity: 0.7;
  margin-bottom: 3px;
}

.card .profile .profile-category {
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0.5;
}

.card .card-body p {
  font-size: 1rem;
}

.card h2 {
  margin: 1em 0;
  font-weight: 600;
  font-size: 1.4rem;
  opacity: 0.9;
}

.theme-dark {
  color: hsl(0, 0%, 100%);
}

.theme-dark .card-body p {
  color: hsl(0, 0%, 81%);
  opacity: 0.7;
  line-height: 20px;
}

.theme-light {
  color: hsl(217, 19%, 35%);
  background-color: hsl(0, 0%, 100%);
}

.theme-light .card-body h2 {
  color: hsl(219, 29%, 14%);
}

.theme-light .card-body p {
  opacity: 0.7;
  line-height: 20px;
}

.violet {
  background-color: hsl(263, 55%, 52%);
}

.gray {
  background-color: hsl(217, 19%, 35%);
}

.dark-blue {
  background-color: hsl(219, 29%, 14%);
}

.profile {
  display: flex;
}

.profile img {
  margin-right: 15px;
}

.profile-image {
  width: 40px;
  height: 40px;
  border: 2px solid hsl(263, 45%, 63%);
  border-radius: 50%;
}
