*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 13px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: hsl(210, 46%, 95%);
}

.container {
  width: 95%;
  margin: 0 auto;
}

.card {
  background-color: green;
  padding: 30px 30px;
  margin: 20px;
  border-radius: 10px;
}

.card .card-body p {
  font-size: 1rem;
}

.card h2 {
  margin: 1em 0;
}

.theme-dark {
  color: hsl(0, 0%, 100%);
}

.theme-dark .card-body p {
  color: hsl(0, 0%, 81%);
  opacity: 0.7;
  line-height: 20px;
}

.theme-light {
  color: hsl(219, 29%, 14%);
  background-color: hsl(0, 0%, 100%);
}

.violet {
  background-color: hsl(263, 55%, 52%);
}
